<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th scope="col">Model</th>
        <th scope="col">Color</th>
        <th scope="col">Num</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${carsList}">
        <td th:text="${car.model}"/>
        </td>
        <td th:text="${car.color}"/>
        </td>
        <td th:text="${car.num}"/>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>